[theme]
theme = "native"

[icons]
icons = "material-nf"

[[block]]
block = "music"
format = " $icon {$combo.str(0,20) $play |}"

[[block]]
block = "net"
format = " $icon $device "
device = "tun0"
[[block.click]]
button = "left"
cmd = "alacritty --class 'VPN Connect' -e bash ~/.config/sway/helpers/vpn_connect.sh"

[[block]]
block = "net"
format = " $icon $device "
device = "^w.*"

[[block]]
block = "sound"

[[block]]
block = "custom"
command = '''bash ~/.config/sway/helpers/updates.sh | awk '{ printf("ï€› %d", $1) }' '''
[[block.click]]
button = "left"
cmd = "alacritty --class 'Update Manager' -e bash ~/.config/sway/helpers/run_updates.sh"

[[block]]
block = "memory"
format = "$icon $mem_used_percents.eng(2) "

[[block]]
block = "cpu"
interval = 1
format = " $icon  $barchart.str() $utilization.eng() "
format_alt = "$icon $frequency.eng(){ $boost.str()|} "

[[block]]
block = "backlight"
invert_icons = true

[[block]]
block = "battery"
format = " $icon $percentage "

[[block]]
block = "time"
format = " %a %b %d, %Y %R "
timezone = "US/Pacific"

